{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="account-profile-container">
        <div class="profile-top">
            <div class="comment-profile">
                <a href="">
                    {% if profile_user.profile.profile_picture %}
                        <img class="profile-icon" src="{{ profile_user.profile.profile_picture.url }}">
                    {% else %}
                        <img class="profile-icon" src="{% static 'images/no-profile.png' %}">
                    {% endif %}
                </a>
                <p class="profile-name">
                    <a href="#">{{ profile_user.username }}</a>
                </p>
            </div>
            <div class="profile-processing">
                {% if request.user == profile_user or can_administer_profiles %}
                    <a href="{% url 'profile-edit' profile_user.pk %}">
                        <img class="edit-icon" src="{% static 'images/edit-icon.png' %}">
                    </a>
                    <a href="{% url 'profile-delete' profile_user.pk %}">
                        <img class="delete-icon" src="{% static 'images/delete-icon.png' %}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="profile-bottom">
            <div class="bio-container">
                <p class="bio-text">{{ profile_user.profile.biography }}</p>
            </div>
            <div class="profile-following">
                <div class="followers-container">
                    <a href="{% url 'profile-followers' profile_user.pk %}">Followers {{ profile_user.profile.followers.count }}</a>
                </div>
                <div class="followed-container">
                    <a href="{% url 'profile-following' profile_user.pk %}">Following {{ profile_user.profile.following.count }}</a>
                </div>
            </div>
        </div>
    </div>
    
    {% for post in all_posts %}
        {% include 'posts/post.html' %}
    {% empty %}
        <p class="heading">No Posts Yet</p>
    {% endfor %}
{% endblock %}