{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <p class="heading">{{ target_user.username }}</p>
    
    <div class="form-message-container">
        <form method="post" class="message-form">
            {% csrf_token %}
            {{ message_form.as_p }}
            <button class="message-button">Sent</button>
        </form>
    </div>
    
    <div id="users-data" style="display: none"
         data-user-id="{{ request.user.pk }}"
         data-target-user-id="{{ target_user.pk }}">
    </div>
    
    {% for message in shared_messages %}
    <div class="message-container">
        <div class="message-credentials">
            <div class="message-header">
                <a href="{% url 'profile-details' message.sender.pk %}">
                    {% if message.sender.profile.profile_picture %}
                        <img class="profile-icon" src="{{ message.sender.profile.profile_picture.url }}">
                    {% else %}
                        <img class="profile-icon" src="{% static 'images/no-profile.png' %}">
                    {% endif %}
                </a>
                <p>
                    <a href="{% url 'profile-details' message.sender.pk %}">{{ message.sender.username }}</a>
                </p>
            </div>
            <div class="message-extra">
                <div class="date-container">
                    <p>{{ message.publication_datetime }} UTC</p>
                </div>
                {% if message.sender == request.user or can_administer_messages %}
                    <a href="{% url 'message-delete' target_user.pk message.pk %}">
                        <img class="delete-icon" src="{% static 'images/delete-icon.png' %}">
                    </a>
                {% endif %}
            </div>
            
        </div>
        <div class="message-content-container">
            <p class="message-text">{{ message.content }}</p>
        </div>
    </div>
    {% empty %}
        <p class="heading-description">No Messages Yet</p>
    {% endfor %}
    
    <script src="{% static 'javascript/chats.js' %}" defer></script>
{% endblock %}